/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
    background: #2e78d6;
    color: #fff;
    border: none;
    border-radius: 0px;
    font-size: 10pt;
    padding: 5px;
    opacity: 0.9;
}

.fa:hover {
    transform: scale(1.4);
}

.subject{
    font-size: 14px;
}

.subject-info {
    font-size: 12px;
}

.konsultacii {
    text-decoration: none;
    list-style-type: none;
}

.custom-card {
    margin: 10px;
}